@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("MavenPro.woff2") format('woff2');
}
  
::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

body {
    background: #4286f40a !important;
    display: grid;
    color: #212121;
}

* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #4285f4;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #000000;
}

.main {
    text-align: center;
    display: grid;
}

input {
    height: 80px;
    width: 25%;
    float: right;
    outline: none;
    transition: 0.2s;
}

input[type="text"] {
    width: 80%;
    height: 80px;
    font-size: 42px;
    background:transparent;
    border:none;
    color: #222;;
}

input[type="button"] {
    background:#333;
    color:#fff;
    border-color: #333;
    border-radius: 20px;
    border-style: solid;
    font-size: 22px;
    margin: 5px;
}

.equal {
    width: 25%;
}

#rst{
    width: 25%;
    background:#4285f4;
    border-radius: 20px;
    border-style: solid;
    font-size: 22px;
    margin: 5px;
}

input:active {
    background:#555;
}

input:active[type="text"]{
    background:transparent;
}